/*Hagstrom Assignment 1.1: The Foundation CSS*/

/* Header properties */
header {
    text-align: center;
  }


body
{
    background-image: linear-gradient(aquamarine, teal);
    background-repeat: no-repeat;
    height: 100%;
    min-height:100vh
}

h4
{
    text-align: center;
    color: brown;
}

p
{
    text-align: center;
    font-size: 40px;
    color: brown;
}

button
{
    font-size: 20px;
    color: brown;
}

/* Nav properties */
nav {
    height: 6000px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
  }

/*width % can adjust the size of an image without cropping it*/
img
 {
    margin-right: 200px;
  }

/* Footer properties */
footer {
  text-align: center;
  margin-right: 200px;
}
