/* main.css */

/* Header properties */
header {
    text-align: center;
  }

/* Nav properties */
nav {
    height: 6000px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
  }

/* Body properties */
body {
  background-color: #f0f0f0;
  color: #333;
}

/* #memeImage properties */
img {
    margin-right: 200px;
  }

/* Footer properties */
footer {
  text-align: center;
  margin-right: 200px;
}
